@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Theme CSS/bootstrap-3.3.2.min.css" rel="stylesheet" />
<script src="~/Scripts/Theme JS/jquery.min.js"></script>
<script src="~/Scripts/Theme JS/bootstrap.min.js"></script>


<h1>Log in</h1>
<p>
    <label class="uname"> Your Email</label>
    <input id="username" name="username" type="text" placeholder="example@gmail.com" required="required" />
</p>
<p>
    <label class="youpasswd"> Your Password </label>
    <input id="password" name="password" type="password" placeholder="12345678" required="required" />
</p>
<p class="login button">
    <button class="btn_login" onclick="Login()">LOGIN</button>
    <button type="button" class="btn_login" data-toggle="modal" data-target="#myModal">Complain</button>
</p>






<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title center">Customer complaint (Ticket Generator)</h4>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Complains
                        </div>
                        <div class="panel-body">
                            <div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6 ">
                                        <label>User Name</label>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <input class="form-control" id="user_name" placeholder="User Name" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6">
                                        <label>Email Address</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form-control" type="email" id="Email" placeholder="Example12@Gmail.com" required="required">
                                    </div>
                                </div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6">
                                        <label>Mobile Number</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="col-lg-2"><label class="abc">+92</label></div>
                                        <div class="col-lg-10"><input class="form-control" type="number" id="MobileNo" placeholder="3001234567" required="required"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6 ">
                                        <label>Customer Code</label>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <input class="form-control" type="number" id="custcode" placeholder="12345">
                                    </div>
                                </div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6">
                                        <label>Project Name</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <select id="ProjectDropdown"></select>
                                    </div>
                                </div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6">
                                        <label>Describe Issue</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" type="text" id="Desc" cols="22" rows="2"> </textarea>
                                    </div>
                                </div>
                                <div class="col-lg-6 spacing">
                                    <button class="btn btn-success" value="Add" onclick="Add()"> Send </button>
                                </div>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <!-- /.col-lg-6 (nested) -->
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>
</div>




<script type="text/javascript">

    //$(document).ready(function () {
    //    $.ajax({
    //        async: false,
    //        url: '/api/HomeApi/',
    //        type: 'GET',
    //        contentType: "application/json;charset=utf-8",
    //        dataType: "json",
    //        success: function (data) {
    //            console.log(data);
              
    //        },
    //        error: function () { alert('Data Not Showing'); }
    //    });
    //});



    function Login() {
        var model = { user_Name: $("#username").val(), password: $("#password").val() };
        console.log(model);
        $.ajax({
            async: false,
            url: '/api/HomeApi/',
            type: 'POST',
            data: model,
            dataType: "json",
            success: function (data) {
                if (data == "Authenticated") { window.location.href = ' /Dashboard/'; }
                else { alert(data); }
            },
            error: function (xhr) {
                alert("Ajax Call Failed");
            }
        });
    }
    function Add() {
        var uname = document.getElementById("user_name").value.trim();
        var email = document.getElementById("Email").value.trim();
        var pnum = document.getElementById("MobileNo").value.trim();
        var code = document.getElementById("custcode").value.trim();
        var project = document.getElementById("ProjectDropdown").value.trim();
        var issue = document.getElementById("Desc").value.trim();
        if (uname == "") { alert("Please enter User Name"); }
        else if (validateEmail(email) == false) { alert("Please enter Email"); }
        else if (pnum == "" || pnum.length != 10) { alert("Please enter Mobile Number"); }
        else if (code == "") { alert("Please enter Customer Code"); }
        //else if (Project == "") { alert("Please Select Project Name"); }
        else if (issue == "") { alert("Please Enter the issue"); }
        else
        {
            var model = { name: $("#user_name").val(), email: $("#Email").val(), contact: $("#MobileNo").val(), customerId: $("#custcode").val(), projectId: "6", issue: $("#Desc").val() };
            console.log(model);
            $.ajax({
                async: false,
                url: '/api/HomeApi/',
                type: 'PUT',
                data: JSON.stringify(model),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert(data);
                    location.reload();
                },
                error: function () {
                    alert(data);
                }
            });
        }
    }


</script>
