@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Log in</h1>
<p>
    <label class="uname"> Your Email</label>
    <input id="username" name="username" type="text" placeholder="example@gmail.com" required="required" />
</p>
<p>
    <label class="youpasswd"> Your Password </label>
    <input id="password" name="password" type="password" placeholder="12345678" required="required" />
</p>
<p class="keeplogin">
    <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping"/>
    <label for="loginkeeping">Keep me logged in</label>
</p>
<p class="login button">
    <button class="btn_login" onclick="Login()">LOGIN</button>
</p>


<script type="text/javascript">

    function Login() {
        var model = {user_Name:$("#username").val(),password:$("#password").val() };
        console.log(model);
        $.ajax({
            async: false,
            url: '/api/HomeApi/',
            type: 'POST',
            data: model,
            dataType: "json",
            success: function (data) {
                if (data == "Authenticated") { window.location.href = ' /user/'; }
                else { alert(data); }
            },
            error: function (xhr) {
                alert("Ajax Call Failed");
            }
        });
    }
</script>