ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    ul.tabs li {
        background: none;
        color: #222;
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 25px;
    }

        ul.tabs li.current {
            background: #ededed;
            color: #222;
            font-size: 25px;
        }

.tab-content {
    display: none;
    background: #ededed;
    padding: 15px;
    height: 500px;
}

    .tab-content.current {
        display: inherit;
    }

.table-bordered {
    background-color: white;
}

#th {
    background-color: cornsilk;
}

button#btn {
    margin-top: 20px;
    margin-left: 0px;
}
.overflow {
    overflow-y:scroll;
}
#noti {
display:none;
}
.disabled {
display:block!important;
}
