@{
    ViewBag.Title = "CreateTicket";
    if (ViewData["id"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_Home.cshtml";
    }
    else if (ViewData["id"].ToString() == "2")
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
    else if (ViewData["id"].ToString() == "3")
    {
        Layout = "~/Views/Shared/Normal.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/CSR.cshtml";
    }

}
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/select2-bootstrap.css" rel="stylesheet" />
<div id="wrapper">
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="text-align:center">Create Tickets</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create Tickets
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-lg-offset-3  col-lg-6">
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6 ">
                                        <label>Name</label>
                                        <input type="hidden" id="tick_id" value="0" />
                                    </div>
                                    <div class="col-lg-6 ">
                                        <input type="hidden" id="cust_id" value="0" />
                                        <input class="form-control" type="text" id="ticketName" >
                                    </div>
                                </div>

                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6 ">
                                        <label>Customer Name</label>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <select id="CustomerDropdown" onchange="getval(this);"></select>
                                    </div>
                                </div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6">
                                        <label>Project Name</label>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <select id="ProjectDropdown"></select>
                                    </div>
                                </div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6">
                                        <label>Issue</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <textarea class="form-control" type="text" id="Desc" cols="22" rows="2"> </textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6">
                                        <label>Assigned To</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="dropdown">
                                            <select id="test" multiple="multiple"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 spacing">
                                    <div class="col-lg-6">
                                        <label>Remind By</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="chkSMS"> SMS
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" id="chkEmail">  Email
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-offset-6 col-lg-6 spacing">
                                    <input type="button" class="btn btn-success" onclick="Add()" id="button" value="Create" />
                                    <input type="button" class="btn btn-info" value="Reset" onclick="location.reload();">
                                </div>

                            </div>
                            <!-- /.col-lg-6 (nested) -->
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div>
    <!-- /#page-wrapper -->
</div>
<script src="~/Scripts/select2.js"></script>
<script type="text/javascript">



    $(document).ready(function () {
        globalProjects = [];
        dat = [];
        $.ajax({
            async: false,
            url: '/api/TicketApi/' + "0",
            type: 'GET',
            success: function (data) {
                console.log(data);
                $.each(data.dropdowns.customer, function (i) {
                    $('#CustomerDropdown').append($('<option></option>').val(data.dropdowns.customer[i].customerId).html(data.dropdowns.customer[i].customer_name));
                });
                globalProjects = data.dropdowns.projects;
                $.each(data.dropdowns.projects, function (i) {
                    $('#ProjectDropdown').append($('<option></option>').val(data.dropdowns.projects[i].id).html(data.dropdowns.projects[i].Project_Name));
                });
                for (var i = 0; i < data.dropdowns.Users.length; i++) {
                    var obj = { id: data.dropdowns.Users[i].id, text: data.dropdowns.Users[i].user_Name }
                    dat.push(obj);
                }
                $("#test").select2({ theme: "bootstrap", data: dat });
                if (data.task != null) {
                    console.log(data.task);
                    document.getElementById("tick_id").value = data.task.id
                    document.getElementById("ticketName").value = data.task.task_name;
                    document.getElementById("CustomerDropdown").value = data.projectId;
                    document.getElementById("Desc").value = data.task.description;
                    document.getElementById("chkSMS").checked = data.task.sms;
                    document.getElementById("chkEmail").checked = data.task.email;
                    document.getElementById("button").value = "Update";
                    $('#test').val(data.tags).trigger('change');
                }
            },
            failure: function () {
                alert("Failed to load Projects");
            }
        });


    });
    //add user button press for adding or updating db
    //need correction when updating probably
    function Add() {

        var user = $("#test").select2("val");
        console.log(user);

        var uname = document.getElementById("ticketName").value.trim();
        var project = document.getElementById("ProjectDropdown").value.trim();
        var issue = document.getElementById("Desc").value.trim();
        if (uname == "") { alert("Please enter User Name"); }
        else if (issue == "") { alert("Please Enter the issue"); }
        var model =
    {
        id: $("#tick_id").val(),
        uname: $("#ticketName").val(),
        projectId: $("#ProjectDropdown").val(),
        issue: $("#Desc").val(),
        email: document.getElementById("chkEmail").checked,
        sms: document.getElementById("chkSMS").checked,
        assignedto: user

    };
        console.log(model);

        $.ajax({
            url: '/api/TicketApi',
            type: 'POST',
            data: JSON.stringify(model),
            contentType: "text/json;charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(data);
                document.getElementById("tick_id").value="",
                 document.getElementById("ticketName").value = "",
                 document.getElementById("Desc").value = "",
                // document.getElementById('#tick_id').value = "",
                // document.getElementById('#tick_id').value = "",
             
                //$("#ProjectDropdown").val()= null,
            
                document.getElementById("chkEmail").checked="",
                document.getElementById("chkSMS").checked = ""          
            },
            error: function (error) { alert(error); }
    });



    }

    function getval(val) {

        var check = 0;
        for (var i = 0; i < globalProjects.length; i++) {
            if (globalProjects[i].customer.customerId == val.value) {
                if (check == 0) {
                    check = 1;
                    document.getElementById('ProjectDropdown').options.length = 0;
                }
                var option = document.createElement("option");
                option.text = globalProjects[i].Project_Name;
                option.value = globalProjects[i].id;
                document.getElementById('ProjectDropdown').add(option);

            }


        }



    }
</script>