@{
    ViewBag.Title = "CreateTask";
    if (ViewData["id"].ToString() == "1")
    {
        Layout = "~/Views/Shared/_Home.cshtml";
    }
    else if (ViewData["id"].ToString() == "2")
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
    else if (ViewData["id"].ToString() == "3")
    {
        Layout = "~/Views/Shared/Normal.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/CSR.cshtml";
    }
}
<div id="wrapper">
    <!-- Navigation -->
    <div id="page-wrapper" ng-app="requisition" ng-controller="reqCtrl">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="text-align:center">Create Requisition</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create Requisition
                        <button value="add" class="btn btn-primary fa fa-plus pull-right" ng-click="addItem()" />
                    </div>
                    <div class="panel-body">

                        <div class="col-lg-12" style="padding-bottom:20px">
                            <div class="col-lg-4">
                                <div class="col-lg-offset-3 col-lg-3"><h4>Serial No</h4></div>
                                <div class="col-lg-6"><input class="form-control" id="serial" placeholder="8000" required="required" disabled></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-lg-offset-3 col-lg-3"> <h4>Customer</h4></div>

                                <div class="col-lg-6">
                                    <select class="form-control" ng-options="customer.name for customer in customers" ng-model="customerId" ng-change="selectionChange(this.customer.id)" required="required"></select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-lg-offset-3 col-lg-3"><h4>Project</h4></div>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-options="project.name for project in task.dropproject" ng-model="projectId"></select>
                                </div>
                            </div>
                            <div id="tab-2" class="tab-content overflow ">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-examp" style="width:100%!important">
                                    <thead id="th">
                                        <tr>
                                            <th>S No</th>
                                            <th>Item Name</th>
                                            <th>Item Code</th>
                                            <th>Units</th>
                                            <th>Quantity</th>
                                            <th>Date Required</th>
                                            <th>Quantity Issued</th>
                                            <th>Action</th>
                                        </tr>

                                    </thead>

                                    <tbody id="dynamic-Grid">
                                        <form ng-submit="submitRequis()">
                                            <tr ng-repeat="item in items">
                                                <td><input class="form-control" type="number" ng-model="$index+1" disabled></td>
                                                <td><input class="form-control" type="text" ng-model="item.itemName" placeholder="Hard Disk" required="required"></td>
                                                <td><input class="form-control" type="text" ng-model="item.itemCode" placeholder="H-2017" required="required"></td>
                                                <td><input class="form-control" type="text" ng-model="item.units" placeholder="Kg/Ml" required="required"></td>
                                                <td><input class="form-control" type="text" ng-model="item.quantity" placeholder="5" required="required"></td>
                                                <td><input class="form-control" type="date" ng-model="item.date" placeholder="mm/dd/yyyy" required="required"></td>
                                                <td><input class="form-control" type="text" ng-model="item.issueQuant" required="required"></td>
                                                <td><button value="sub" class="btn btn-danger fa fa-minus" ng-click="removeItem($index)" /></td>
                                            </tr>
                                        </form>
                                    </tbody>
                                </table>
                                <div class="col-lg-12"><button class="btn btn-warning pull-right" ng-click="add()">Save </button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/angular.min.js"></script>

    <script type="text/javascript">
        var app = angular.module("requisition", []);
        app.controller("reqCtrl", function ($scope, $http) {
            $scope.message = $http.get('/api/RequisitionApi/' + 1).then(function (response) {
                $scope.requisition = response.data;
                $scope.customers = $scope.requisition.customer;
                $scope.originalProjects = $scope.requisition.project;
            });
            $scope.items = [];
            $scope.addItem = function () {
                var obj = { name: "", code: "", unit: "", quantity: "", dateReq: "", issueQuant: "" };
                $scope.items.push(obj);
            }
            $scope.removeItem = function (index) {
                $scope.items.splice(index, 1);
            }
            $scope.add = function () {
                console.log($scope.items)
                $scope.message = $http.post('/api/RequisitionApi/', $scope.items).then(function (response) {
                    alert("Sucessfully");
                });
            }
        });
    </script>
